{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container lead">
        <h1>reef-pi</h1> 
         <div class='container'>
         Welcome to the official website of reef-pi - An opensource reef tank controller based on Raspberry Pi. This site provides a comprehensive list of <a href="/general-guides/">general</a> and <a href="/build-guides/"> build specific </a> guides and important <a href="/blogs/">announcements</a> for reef-pi. If you are new to reef-pi and want to build a controller with it, first, figure out what you want to control or monitor with Reef-PI (example: timers, light controllers, ATO etc). After that purchase the required parts and Raspberry Pi. Finally,  use the general
guides and build guides to create the Reef Pi components you need. Some popular builds include:
        </div>

        <ul class='list-group text-left'>
          <li><a href='https://reef-pi.github.io/build-guides/power/'>Power controller</a></li>
          <li><a href='https://reef-pi.github.io/build-guides/lighting/'>LED light</a></li>
          <li><a href='https://reef-pi.github.io/build-guides/ato/'>Auto Top Off</a></li>
          <li><a href='https://reef-pi.github.io/build-guides/temperature/'>Temperature Controller</a></li>
          <li><a href='https://reef-pi.github.io/general-guides/touchscreen_display/'>Touch screen display</a></li>
        </ul>

         You can follow reef-pi's on going development in the master thread at <a href="https://www.reef2reef.com/threads/reef-pi-an-open-source-raspberry-pi-based-reef-tank-controller.289256">reef2reef</a>

        Contact at <a href="https://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>
        {{ partial "social.html" . }}

        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
