{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <h1>reef-pi</h1> 
         <h3>
         Welcome to the homepage of reef-pi - An opensource reef tank controller based on Raspberry Pi. This site provides a comprehensive list of <a href="/general-guides/">general</a> and <a href="/build-guides/"> build specific </a> guides and important <a href="/blogs/">announcements</a> for reef-pi.


         You can follow reef-pi's on going development in the master thread at <a href="https://www.reef2reef.com/threads/reef-pi-an-open-source-raspberry-pi-based-reef-tank-controller.289256">reef2reef</a>

        Contact at <a href="https://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}

        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
